@model ServiceModels.ViewModels.HomeVm
@{    
    ViewBag.Title = "Index";
}
<h1>Dif Stack <small>mixed MVC and ServiceStack reference project</small></h1>
<p>
    A reference project for researching some common requirements and questions I have 
    regarding ServiceStack how it would fit into an MVC 4 project.        
</p>
Main research desires
<ul>
    <li>General MVC site functionality (controllers, razor etc)</li>    
    <li>Straight forward unit and integration testability</li>
    <li>Async functionality for calls to long running services</li>
    <li>Simple RESTful APIs</li>
    <li>A simplified codebase. Less boilerplate and cruft yet maintaining logical design principles</li>
    <li>Mono compatiblity</li>
    <li>Determine appropriate design for an app that has grown past the initial stages</li>    
</ul>
