<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">            
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="/">DiffStack</a>
                    </li>
                    <li>
                        <a href="/products">Products</a>                        
                    </li>
                    <li>
                        <a href="/search">Search</a>
                    </li>

                    <li>
                        <a href="/api">/api</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
